@import "atados";

#about-page {
  .container {
    width: 1328px;
    padding-left: 125px;
  }
  background-color: #EFEFEF;
  h3 {color:white;}
  p {color:white;}
  #title {
    text-align: center;
    margin: 80px 0 100px 0;
    color: #DF7D1A;
    strong {
      color: #127EB8;
    }
  }
  #quem-somos {
    padding: 80px 0;
    background-color: #0E6182;
    p {
      font-size: 20px;
      line-height: 32px;
    }
    h3 {
      font-weight: bold;
    }
    img {
      border: 10px solid #01739E;
      box-shadow: 2px 1px 7px #363030;
    }
  }
  #poder-voluntariado {
    padding: 70px 0;
    box-shadow: 0 2px 10px #020202;
    background-color: #11759B;
    h3 {
      font-weight: bold;
    }
  }
  #abertos {
    box-shadow: 0 2px 10px #020202;
    padding: 70px 0;
    background-color: #1893C7;
    h3 {
      font-weight: bold;
    }
  }
  #team {
    padding: 70px 0;
    background-color: #D9ECF1;
    .person {
      margin-right: 60px;
      width: 220px;
      height: 230px; 
      background-color: #9FCDE0;
      display: inline-block;
      &:hover {
        box-shadow: 0px 0px 13px #7DB6D4;
      }
    }
  }
}
