@import url(http://fonts.googleapis.com/css?family=Francois+One|Open+Sans:400,800|Noto+Sans:4000,700|Coming+Soon);

@import "font-awesome/scss/font-awesome";

$atadosSprite: "../images/atados-sprite.png";

// Atados Bootstrap Theme
// -------------------------

// _fonts.scss

// $font-family-sans-serif: 'Noto Sans', sans-serif;;
// $headings-font-family: 'Coming Soon', sans-serif;
// $headings-font-weight:400;

// _variables.scss

$white:#fbfbfb;
$blue:#199dd5;
$blue-facebook:#3b5998;
$gray-darker:#222;
$gray-dark:#333;
$gray-light:#999;
$gray-lighter:#eee;
$blue-dark:#0081b2;
$blue-light:#bcecf8;
$orange:#f28730;

$brand-primary:$orange;
$brand-success:#5cb85c;
$brand-warning:#f0ad4e;
$brand-danger:#d9534f;
$brand-info:$blue-dark;

$text-color:$gray-dark;
$headings-small-color: $blue;
$headings-color: $orange;
$link-color:$orange;
$well-bg: $white;
$navbar-inverse-bg:$blue;
$navbar-inverse-border:$blue;
$navbar-inverse-text:$blue-light;
$navbar-inverse-link-color:$blue-light;
$navbar-inverse-search-placeholder-color:darken($navbar-inverse-bg, 8%);
$navbar-inverse-brand-color:white;
$btn-primary-bg:$brand-primary;
$btn-primary-border:darken($btn-primary-bg, 5%);

$navbar-border-radius:0px;
$navbar-margin-bottom:0px;

$jumbotron-padding:60px;
$jumbotron-color:white;
$jumbotron-heading-color:white;
$jumbotron-bg:rgba(0,0,0,0.3);

$landing-cover:url('https://s3-sa-east-1.amazonaws.com/atadosapp/static/landing_cover.jpg');

.home {
  background-size: 1600px 430px;
  background-repeat: no-repeat;

  .jumbotron {
    height: 430px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.35);
    p { 
      font-size: 30px;
      margin-top: 15px;
    }
    .btn {
      &:first-child {
        margin-right: 30px;
      }
      text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
      margin-top: 50px;
    }
  }
}

/* Retina display */
@media screen and (min-width: 1024px){
  .home {
    background-image: $landing-cover;
  }
}

/* Desktop */
@media screen and (min-width: 980px) and (max-width: 1024px){
  .home {
    background-image: $landing-cover;
  }
}
/* Tablet */
@media screen and (min-width: 760px) and (max-width: 980px){
  .home {
    background-image: $landing-cover;
  }
}
/* Mobile HD */
@media screen and (min-width: 350px) and (max-width: 760px){
  .home {
    background-image: $landing-cover;
  }
}
/* Mobile LD */
@media screen and (max-width: 350px){
  .home {
    background-image: $landing-cover;
  }
} 

// _type.scss
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $headings-color;
}

// _navs.scss
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover,
.nav-tabs.nav-stacked > .active > a:focus {
  color: $white;
  background-color: $orange;
}

// _navbar.scss

.navbar-brand {
  background:url($atadosSprite) no-repeat;
  width:136px;
  height:45px;
  margin: 5px 15px 5px 40px;
  text-indent:-999em;
}

// _buttons.scss

// _modals.scss

// _wells.scss

.well-title {
  display:block;
  text-transform:uppercase;
  font-size:18px;
  color:$blue;
  margin-bottom:10px;
}

a:hover,
a:focus {
  text-decoration: none;
}

// Atados specific CSS
// -------------------------

.btn-facebook {
  background-color: $blue-facebook;
  color: $white;
}

.main {
}

.center {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;
  margin-top: auto;
}

#siteSearch {
  width: 400px;
}

#volunteer-details {
  .causes,
  .skills {
    list-style:none;
    padding:0;
    margin:0;
  }

  .image {
    position:relative;
    margin-bottom:20px;

    & > input {
        display: none;
    }
    & > label {
      position:absolute;
      bottom:0;
      z-index:100;
      display:none;
    }

    &:hover > label {
      display:inline;
    }

  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #volunteer-details {
    .image {
      & > label {
        width:122px;
      }
      & > img {
        width:146px;
      }
    }
  }
}

@media (max-width: 767px) {
  #volunteer-details {
    .image {
      width:220px;
      margin:0 auto;
    }
  }
}

.roles {
  li {
    list-style:none;
  }
}

.select-button-list {
  padding:0;
  margin:1px 1px 10px 0;
  float:left;
  width:100%;

  li {
    list-style:none;
    margin:0;
    padding:2px;
    float:left;
    margin:-1px -1px 0 0;
    background:#fff;

    input {
      display:none;
    }

    label {
      float:left;
      width:120px;
      height:60px;
      overflow:hidden;
      padding:8px;
      background:#fff;
      color:#333;

      &:hover {
        background:$blue-light;
        color:#fff;
      }
    }

    &.active {
      label {
        background:$blue;
        color:#fff;
      }
    }
  }
}

#nonprofit-header {
  position:relative;
  margin-bottom:20px;
  padding-bottom:0;

  & > .cover {
    position:absolute;
    top:-20px;
    left:0;
    right:0;
    height:280px;
    background:$blue-dark;
    display:block;
    overflow:hidden;

    & > img {
      width:100%;
      height:100%;
    }
  }

  & > .container {
    position:relative;
    height:260px;

    & > .row {
      & > .span12 {
        & > .image {
          position:absolute;
          bottom:0;
          width:190px;

          & > a {
            position:absolute;
            bottom:0;
            z-index:100;
            display:none;
            width:146px;
            left:10px;
            bottom:10px;
          }

          &:hover > a {
            display:inline;
          }

          & > img {
            background-color: rgba(255, 255, 255, 0.9);
            border:5px solid rgba(255, 255, 255, 0.9);
          }

          & + h1 {
            background-color: rgba(255, 255, 255, 0.9);
            left:210px;
          }
        }

        & > h1 {
          position:absolute;
          bottom:0;
          display:inline;
          padding:5px 20px;
          background:#fff;
          margin:0;
        }

        & > .tools {
          position:absolute;
          right:0;
          top:0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #nonprofit-header {
    & > .cover {
      & > img {
        width:1200px;
        max-width:1200px;
      }
    }
  }
}

@media (max-width: 767px) {
  #nonprofit-header {
    & > .cover {
      left:-20px;
      right:-20px;
    }
  }
}

#nonprofit-details {
  .top {
    position:relative;
    height:285px;

    .cover {
      position:absolute;
      left:0;
      top:0;
      height:285px;
    }

    .nonprofit-image {
      position:absolute;
      left:0;
      bottom:0;
    }
  }
  google-map {
    height:150px;
    display:block;
  }
}

.tag {
  display:inline-block;
  margin:0 18px 10px 0;
  background:#fff;
  color:$orange;
  font-weight:bold;
  font-size:11px;
  padding:0 10px;
  line-height:26px;
  position:relative;

  &:after {
    position:absolute;
    right:-12px;
    top:0;
    content:"";
    width:12px;
    height:26px;
    background:url('/images/atados-sprite.png') 0 -45px no-repeat;
  }
}

// Plugin CSS overrides
// -------------------------

.toast-info {
  background-color: $orange;
}

.toast-top-right {
  top: 80px;
}

.pace .pace-progress {
  background: #f4871e;
}

.pace .pace-activity {
  border-top-color: #f4871e;
  border-left-color: #f4871e;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #f4871e, 0 0 5px #29d;
}

@import "bootstrap-sass/lib/bootstrap";
