$atadosSprite: "../images/atados-sprite.png";
$flags: "../images/flags.png";
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$FontAwesomePath: "/bower_components/font-awesome/font";
@import "font-awesome/scss/font-awesome";

// Atados color
$blue:#69d1e8;
$grayDarker:#222;
$grayDark:#333;
$gray:#f3f3f3;
$grayLight:#999;
$grayLighter:#eee;
$blueDark:#12bad1;
$orange:#f28730;

.navbar {
  .brand {
    background:url($atadosSprite) no-repeat;
    width:136px;
    height:45px;
    padding:0;
    margin:10px 30px 0px 0px;
  }
}

.flag {
  width: 16px;
  height: 11px;
  background:url($flags) no-repeat
}

.flag.flag-br {background-position: -16px 0}
.flag.flag-es {background-position: -32px 0}
.flag.flag-mx {background-position: 0 -11px}
.flag.flag-us {background-position: -16px -11px}

.navbar-flags {
  margin:15px 30px;
  position:absolute;
}

.search-query {
  width: 400px;
}

form input.ng-valid {
  border: 1px solid green;
}

.modal {
  width: 860px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -430px;
}

.main {
  margin: 30px;
}

.navbar-inverse .nav>li>a {
  color: #fff;
}

#volunteer-details {
  .causes,
  .skills {
    list-style:none;
    padding:0;
    margin:0;
  }

  .image {
    position:relative;
    margin-bottom:20px;

    & > input {
        display: none;
    }
    & > label {
      position:absolute;
      bottom:0;
      z-index:100;
      display:none;
    }

    &:hover > label {
      display:inline;
    }

  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #volunteer-details {
    .image {
      & > label {
        width:122px;
      }
      & > img {
        width:146px;
      }
    }
  }
}

@media (max-width: 767px) {
  #volunteer-details {
    .image {
      width:220px;
      margin:0 auto;
    }
  }
}

.well-title {
  display:block;
  text-transform:uppercase;
  font-size:18px;
  color:$blue;
  margin-bottom:10px;
}

.select-button-list {
  padding:0;
  margin:1px 1px 10px 0;
  float:left;
  width:100%;

  li {
    list-style:none;
    margin:0;
    padding:5px;
    float:left;
    border:1px solid #ddd;
    margin:-1px -1px 0 0;
    background:#fff;

    input {
      display:none;
    }

    label {
      float:left;
      width:118px;
      height:56px;
      overflow:hidden;
      padding:8px;
      background:#fff;
      color:#333;

      &:hover {
        background:$blue;
        color:#fff;
      }
    }

    &.active {
      label {
        background:$blueDark;
        color:#fff;
      }
    }
  }
}
