$atadosSprite: "../images/atados-sprite.png";
$flags: "../images/flags.png";
$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

$FontAwesomePath: "/bower_components/font-awesome/font";
@import "font-awesome/scss/font-awesome";

// Atados color
$blue:#69d1e8;
$grayDarker:#222;
$grayDark:#333;
$gray:#f3f3f3;
$grayLight:#999;
$grayLighter:#eee;
$blueDark:#12bad1;
$orange:#f28730;

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.navbar {
  .brand {
    background:url($atadosSprite) no-repeat;
    width:136px;
    height:45px;
    padding:0;
    margin:10px 30px 0px 0px;
  }
}

.flag {
  width: 16px;
  height: 11px;
  background:url($flags) no-repeat
}

.flag.flag-br {background-position: -16px 0}
.flag.flag-es {background-position: -32px 0}
.flag.flag-mx {background-position: 0 -11px}
.flag.flag-us {background-position: -16px -11px}

.navbar-flags {
  margin:15px 30px;
  position:absolute;
}

.search-query {
  width: 400px;
}

form input.ng-valid {
  border: 1px solid green;
}

.modal {
  width: 860px;
  /* must be half of the width, minus scrollbar on the left (30px) */
  margin-left: -430px;
}

.main {
  margin: 30px;
}

.navbar-inverse .nav>li>a {
  color: #fff;
}

#volunteer-details {
  .causes,
  .skills {
    list-style:none;
    padding:0;
    margin:0;
  }

  .image {
    position:relative;
    margin-bottom:20px;

    & > input {
        display: none;
    }
    & > label {
      position:absolute;
      bottom:0;
      z-index:100;
      display:none;
    }

    &:hover > label {
      display:inline;
    }

  }
}

@media (min-width: 768px) and (max-width: 979px) {
  #volunteer-details {
    .image {
      & > label {
        width:122px;
      }
      & > img {
        width:146px;
      }
    }
  }
}

@media (max-width: 767px) {
  #volunteer-details {
    .image {
      width:220px;
      margin:0 auto;
    }
  }
}

.well-title {
  display:block;
  text-transform:uppercase;
  font-size:18px;
  color:$blue;
  margin-bottom:10px;
}

.select-button-list {
  padding:0;
  margin:1px 1px 10px 0;
  float:left;
  width:100%;

  li {
    list-style:none;
    margin:0;
    padding:5px;
    float:left;
    border:1px solid #ddd;
    margin:-1px -1px 0 0;
    background:#fff;

    input {
      display:none;
    }

    label {
      float:left;
      width:118px;
      height:56px;
      overflow:hidden;
      padding:8px;
      background:#fff;
      color:#333;

      &:hover {
        background:$blue;
        color:#fff;
      }
    }

    &.active {
      label {
        background:$blueDark;
        color:#fff;
      }
    }
  }
}

#nonprofit-header {
  position:relative;
  margin-bottom:20px;
  padding-bottom:0;

  & > .cover {
    position:absolute;
    top:-20px;
    left:0;
    right:0;
    height:280px;
    background:$blueDark;
    display:block;
    overflow:hidden;

    & > img {
      width:100%;
      height:100%;
    }
  }

  & > .container {
    position:relative;
    height:260px;

    & > .row {
      & > .span12 {
        & > .image {
          position:absolute;
          bottom:0;
          width:190px;

          & > a {
            position:absolute;
            bottom:0;
            z-index:100;
            display:none;
            width:146px;
            left:10px;
            bottom:10px;
          }

          &:hover > a {
            display:inline;
          }

          & > img {
            background-color: rgba(255, 255, 255, 0.9);
            border:5px solid rgba(255, 255, 255, 0.9);
          }

          & + h1 {
            background-color: rgba(255, 255, 255, 0.9);
            left:210px;
          }
        }

        & > h1 {
          position:absolute;
          bottom:0;
          display:inline;
          padding:5px 20px;
          background:#fff;
          margin:0;
        }

        & > .tools {
          position:absolute;
          right:0;
          top:0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #nonprofit-header {
    & > .cover {
      & > img {
        width:1200px;
        max-width:1200px;
      }
    }
  }
}

@media (max-width: 767px) {
  #nonprofit-header {
    & > .cover {
      left:-20px;
      right:-20px;
    }
  }
}

#nonprofit-details {
  .top {
    position:relative;
    height:285px;

    .cover {
      position:absolute;
      left:0;
      top:0;
      height:285px;
    }

    .nonprofit-image {
      position:absolute;
      left:0;
      bottom:0;
    }
  }
  google-map {
    height:150px;
    display:block;
  }
}

.tag {
  display:inline-block;
  margin:0 18px 10px 0;
  background:#fff;
  color:$orange;
  font-weight:bold;
  font-size:11px;
  text-transform:uppercase;
  padding:0 10px;
  line-height:26px;
  position:relative;

  &:after {
    position:absolute;
    right:-12px;
    top:0;
    content:"";
    width:12px;
    height:26px;
    background:url('/images/atados-sprite.png') 0 -45px no-repeat;
  }
}

.toast-top-right {
  top: 80px;
}

.pace .pace-progress {
  background: #f4871e;
}

.pace .pace-activity {
  border-top-color: #f4871e;
  border-left-color: #f4871e;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px #f4871e, 0 0 5px #29d;
}
