@import "atados";

#nonprofit-signup {
  background-color: #EFEFEF;
  h1 {
    color: #E3781E;
  }
}

#nonprofit-signup-form {
  margin-bottom: 40px;
  fieldset {
    margin-bottom: 30px;
    legend {
      margin-top: 60px;
    }
  }

  #addressNumberField {

    @media screen and (max-width: $screen-lg) {
      margin-left: 374px;
    }

    margin-top: -49px;
    margin-left: 415px;
  }
  #zipcodeField {
    @media screen and (max-width: $screen-lg) {
      margin-left: 287px;
    }
    margin-top: -49px;
    margin-left: 328px;
  }
}

#nonprofit-edit {
  #city-picker {
    margin: 0 0 15px 0;
  }
  .cover-edit {
    top: -100px;
    position: relative;
    margin: 0 0 0px 700px;
    color: #686767;
    background-color: #FFF;
  }
  .photo-edit {
    top: -150px;
    position: relative;
    margin: 0 0 0px 26px;;
    color: #686767;
    background-color: #FFF;
  }
  .btn-save {
    margin: 20px 35px;
    width: 130px;
    height: 50px;
    font-size: 17px;
  }
}

#nonprofit-admin {
  background: #efefef;
  padding-bottom: 30px;
  h1 {
    font-weight: bold;
  }
  #edit-nonprofit-button {
    text-transform: uppercase;
    background-image: linear-gradient(#FFF, #E8E8E8) !important;
    border-color: #EEE !important;
    font-weight: bold;
    color: #919191;
    width: 150px;
    height: 40px;
    margin: 20px 50px 0;
  }
  #new-project-button {
    text-transform: uppercase;
    font-weight: bold;
    background-image: linear-gradient(#009BD4, #0081B2);
    color: #FFF;
    width: 150px;
    height: 40px;
    margin: 20px 50px;
  }
  #project-management {
    #project-list {
      button {
        border-radius: 0px;
        font-size: 14px;
        color: #666;
        background: linear-gradient(#FCFCFC, #E8E7E7);
        border-color: #bfbdbd;
        text-align: left;
        padding-left: 10px;
        font-weight: bold;
        height: 40px;
        .badge {
          margin-right: 8px;
        }
        &:hover {
          background: linear-gradient(#009BD4, #0081B2) !important;
          color: white;
        }
      }
      .choosenProject {
        background: linear-gradient(#009BD4, #0081B2) !important;
        color: white !important;
      }
    }
    #active-project {
      #project-name {
        border: solid 1px #bfbdbd;
        padding: 10px;
        background: linear-gradient(#FCFCFC, #E8E7E7);
        h3 {
          a {
            font-weight: bold;
          }
          margin: 0 10px;
        }
      }
      #project-action-buttons {
        padding: 9px 5px;
        border: solid 1px #bfbdbd;
        background-color: #F3F3F3;
        a {
          padding: 0px 9px;
          font-size: 11px;
          text-decoration: none;
          color: #666;
          font-weight: bold;
          cursor: pointer;
        }
      }
      #project-volunteer-table {
        border: solid 1px #BFBDBD;
        #send-email-button {
          cursor: pointer;
        }
        .dropdown {
          list-style: none;
          cursor: pointer;
        }
        .dropdown-toggle {
          text-decoration: none;
          cursor: pointer;
        }
        .dropdown-menu {
          cursor: pointer;
        }
      }
    }
  }
}

#nonprofit-page {
  background: #efefef;
  #cover {
    & > img {
      width:100%;
      height: 340px;
    }
    input {
      display: none;
    }
  }
  #nonprofit-causes {
    .cause-image { 
      box-shadow: 0 0 3px #808080;
      height: 30px;
      width: 30px;
      padding: 4px 0px 0px 5px;
      display: inline-block;
      margin-right: 10px;
    }
  }

  #nonprofit-website {
    margin-top: 15px;
  }

  #nonprofit-details {

    .btn-info {
      i {
        font-size: 20px;
        color: white;
      }
    }
    .projectButtons {
      margin: 20px 0;
    }
    .active {
      i {
        color: red !important; 
      }
      background-image: linear-gradient(#009BD4, #0081B2) !important;
      color: #FFF !important;
    }
    .buttonTab {
      margin-right: 20px;
      text-transform: uppercase;
      background-image: linear-gradient(#FFF, #E8E8E8);
      font-weight: bold;
      color: #919191;
      &:hover {
        color: $link-color;
      }
    }
    
    #left-sidebar {
      width: 223px;
      font-weight: bold;
      #logo {
        input {
          display: none;
        }
        img {
          width: 200px;
          height: 200px;
          border: 1px solid #E5E5E5;
          margin-top: -75px;
          background: white;
        }
      }

      #nonprofit-map {
        margin: 20px 0;
        width: 100%;
        height: 200px;
      }
      i {
        margin: 0 10px;
        font-size: 20px;
      }
      #nonprofit-social {
        margin-top: 20px;
      }
      .fb-like-box {
        margin-top: 20px;
      }
      #nonprofit-volunteers {
        margin-top: 30px;
        h4 {
          font-size: 16px;
          font-weight: bold;
        }
        #cards:hover {
          overflow: auto;
          padding-right: 1px;
        }
        #cards {
          height: 185px;
          overflow: hidden;
          img {
            margin-right: 3px;
            margin-bottom: 5px;
          }
        }
      }
    }
    
    padding: 10px 50px;
    h1, h3 {
      font-weight: bold;
    }
  }
}
