@import "atados";

#project-page {

  #atar-button {
    i {
      color: #BA2524;
    }
    border:none;
    box-shadow: 0 0px 1px #858484;
    margin-right: 20px;
    margin-bottom: 50px;
    text-transform: uppercase;
    background-image: linear-gradient(#FFF, #E8E8E8);
    font-weight: bold;
    color: #0281B2;
    width: 250px;
    height: 44px;
  }
  #project-header {
    padding: 40px 0;
    background-color: #0E6281;
    color: white;
    
    p {
      font-size: 14px;
      font-weight: bold;
    }
    #project-image {
      width: 375px;
      height: 260px;
      overflow: hidden;
      margin-bottom: 15px;

      img {
        width: 100%;
        background: white;
      }
    }
    #project-name {
      color: white;
      font-weight: bold;
      font-size: 40px;
      margin: 0 0 20px 0;
    }
    #project-type {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 30px;
    }
    #project-nonprofit {
      margin-bottom: 30px;
      color: white;
      #nonprofit-img {

        position: relative;
        float: left;
        width: 55px;
        height: 55px;
        margin-right: 10px;
        img {
          background-color: #FFF;
          border-radius: 4px;
          padding: 2px;
          width: 100%;
          height: 100%;
        }
      }
      a {
        text-decoration: none;
        color: white;
      }
      #nonprofit-name {
        font-size: 14px;
        margin: 0;
      }
      #nonprofit-local {
        font-size: 13px;
        margin: 0;
      }
      a { 
        i {
          color: white;
          margin-right: 5px;
        }
      }
    }
    #project-icons {
      .icon-image { 
        box-shadow: 0 0 3px #808080;
        height: 30px;
        width: 30px;
        padding: 4px 0px 0px 5px;
        display: inline-block;
        margin-right: 10px;
        background-color: white;
        margin-top: 5px;
      }
    }
    #project-volunteers {

      width: 250px;
      h4 {
        font-size: 16px;
        font-weight: bold;
        color: white;
      }
      #cards {
        width: 250px;
        height: 151px;
        overflow: auto;
        img {
          margin-right: 3px;
          margin-bottom: 5px;
        }
      }
    }
  }

  

  #project-details {
    padding: 60px 0;
    background-color: #EEEEEE;
    .active {
      i {
        color: red !important; 
      }
    }
    .btn-info {
      i {
        font-size: 20px;
        color: white;
      }
    }
    .active {
      background-image: linear-gradient(#009BD4, #0081B2) !important;
      color: #FFF;
    }
    
    #left-sidebar {
      width: 373px;
      #project-remote {
        margin-top:40px;
      }
      
      #project-map {
        margin: 20px 0;
      }
      i {
        margin: 0 10px;
        font-size: 20px;
      }
      
      #project-responsible {
        margin-top: 60px;
      }
    }
    #project-facebook {
      margin-top: 60px;
    }

    h1, h2, h3, h4, h5, h6 {
      font-weight: bold;
    }

    #project-roles {
      margin: 55px 0;
      .role {
        margin-top: 30px;
      }
    }
  }
}

#project-new {
  label {
    margin-top: 5px;
  }
  .active {
    background-image: linear-gradient(#009BD4, #0081B2) !important;
    color: #FFF !important;
  }
  padding-bottom: 30px;

  .btn-save {
    float: right;
    margin: 20px 35px;
    width: 130px;
    height: 50px;
    font-size: 17px;
  }

  #type-project-buttons {
    margin: 30px 0;
    #button-group {
      label {
        background-image: linear-gradient(#FFF,#E8E8E8) !important;
        text-transform: uppercase;
        border: 0;
        font-weight: 700 !important;
        color: #016A93;
      }
      .active {
        background-image: linear-gradient(#009BD4, #0081B2) !important;
        color: #FFF !important;
      }
      height: 50px;
    }
  }
  background-color: #EFEFEF;
  h1 {
    color: #E3781E;
  }
  #project-availabilities{
    td:hover {
      background-color: #008000;
    }
  }
  .info-label {
    font-size: 12px;
  }
  .help-block {
    font-size: 12px;
  }
  fieldset {
    margin-top: 40px;
    legend {
      margin-bottom: 40px;
    }
  }
}

#project-availabilities {
  .table-labels {
    width: 130px;
    margin-top: 36px;
    .table-label {
      background-color: #0E6282;
      color: #FFF;
      padding: 5px 0 0 20px;
      width: 90px;
      font-size: 14px;
      font-weight: bold;
      height: 28px;
      margin-bottom: 3px;
      position: relative;
      display: inline-block;
    }
    .triangle {
      position: absolute;
      width: 0;
      height: 0;
      border-top: 14px solid rgba(0, 0, 0, 0);
      border-bottom: 14px solid rgba(0, 0, 0, 0);
      border-left: 20px solid #0E6282;
    }
  }
  table, td, th {
    border:4px solid #EEE;
  }
  tr {
    background-color: #FFF;
  }
  th {
    background-color: #EEE;
    color: #0E6282;
    text-align: center;
  }
  
  td {
    color: #0E6282;
    text-align: center;
  }
  table {
    width: 370px;
    height: 130px;
  }

}
