<div id="home" ng-controller="LandingCtrl">

  <div background-img="{{storage}}landing_cover.jpg" ng-hide="loggedUser">
    <div class="jumbotron">
      <div id="jumbotron-header">
        <h1 class="text-center">Uma rede do bem, para fazer o bem!</h1>
        <p class="text-center"><b>Cadastre-se</b> e encontre aqui no <b>Atados</b> o trabalho voluntário que procura.</p>
      </div>
      <div id="jumbotron-buttons">
        <button type="button" ng-show="!loggedUser" class="btn btn-primary btn-lg" role="button" ng-click="openLogin('volunteer')">Quero ser voluntário</button>
        <button type="button" ng-show="!loggedUser" class="btn btn-info btn-lg" role="button" ng-click="openLogin('nonprofit')">Sou uma ONG</button>
      </div>
    </div>
  </div>

  <div id="atados-explorer">
    <atados-search></atados-search>
  </div>

  <div id="landing-info">
    <div class="container">
      <h3 class="col-xs-12">é fácil começar !</h3>

      <div id="numbers">
        <div class="col-sm-4">
          <span class="number"><i class="fa fa-rocket"></i> {{ numbers().projects | number }}</span>
          <br>
          <span class="number-label">Oportunidades para agir</span>
        </div>

        <div class="col-sm-4">
          <span class="number"><i class="fa fa-smile-o"></i> {{numbers().volunteers |  number}}</span>
          <br>
          <span class="number-label">Pessoas que acreditam na mudança</span>
        </div>

        <div class="col-sm-3">
          <span class="number"><i class="fa fa-home"></i>{{numbers().nonprofits | number}}</span>
          <br>
          <span class="number-label">ONGs para ajudar</span>
        </div>
      </div>

      <depoimento ng-repeat="depoimento in depoimentos"></depoimento>
    </div>
  </div>

  <div id="parceirosMidia">
    <div class="container">
      <h3 class="col-xs-12"><i class="fa fa-globe fa-3"></i> O que falaram de nós?</h3>

      <a class="col-sm-2 col-xs-12" href="http://imaginanacopa.com.br/historias/historia-11-atados/">
        <img class="img-responsive center-block" ng-src="{{storage}}imagina-logo.png" alt="Logo do Imagina na Copa."></a>
      <a class="col-sm-2 col-xs-12" href="http://revistatrip.uol.com.br/transformadores/blogs/triptransformadores/2013/06/19/criando-lacos.html">
        <img class="img-responsive center-block" ng-src="{{storage}}trip-logo.png" alt="Logo da Trip Transformadora."></a>
      <a class="col-sm-2 col-xs-12" href="http://exame.abril.com.br/tecnologia/noticias/rede-social-atados-estimula-voluntariado-em-sao-paulo">
        <img class="img-responsive center-block" ng-src="{{storage}}exame-logo.png" alt="Logo da revista Exame."></a>
      <a class="col-sm-2 col-xs-12" href="http://revistagalileu.globo.com/Revista/Common/0,,EMI334558-17770,00-CONHECA+O+ATADOS+A+UNICA+REDE+VERDADEIRAMENTE+SOCIAL+DO+BRASIL.html">
        <img class="img-responsive center-block" ng-src="{{storage}}galileu-logo.png" alt="Logo da revista Galileu."></a>
      <a class="col-sm-2 col-xs-12" href="http://vejasp.abril.com.br/materia/voluntarios-ongs">
        <img class="img-responsive center-block" ng-src="{{storage}}vejasp-logo.png" alt="Logo da revista Veja."></a>
      <a class="col-sm-2 col-xs-12" href="http://www1.folha.uol.com.br/empreendedorsocial/minhahistoria/1246358-acreditamos-que-mudancas-muito-positivas-podem-ocorrer-por-meio-do-voluntariado.shtml">
        <img class="img-responsive center-block" ng-src="{{storage}}folhadesp-logo.png" alt="Logo da revista Folha."></a>

      <h3 class="col-xs-12"><i class="fa fa-heart fa-3"></i> Nossos parceiros</h3>

      <a class="col-sm-5 col-xs-12" href="http://www.fenomenos.org/" target="_blank">
        <img class="img-responsive center-block" ng-src="{{storage}}fundacao-fenomenos.png" alt="Logo da Fundação Fenomenos."></a>
      <a class="col-sm-3 col-xs-12" href="http://www.allinmail.com.br/" target="_blank">
        <img class="img-responsive center-block" ng-src="{{storage}}allin.png" alt="Logo da Empresa All in de envio de email."></a>
      <a class="col-sm-3 col-xs-12" href="http://www.handsonnetwork.org/" target="_blank">
        <img class="img-responsive center-block" ng-src="{{storage}}hands-on-network.png" alt="Logo da Hands On Network"></a>
    </div>
  </div>
</div>
