<div id="ligando">
  <div class="container">
    <div class="row">

      <div class="pagina col-sm-6 col-sm-offset-3">
        <img class="ligando-logo" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="center">Cada <b>ponto de vista</b> é <br>a <b>vista de um ponto</b>.</h1>
        <div class="row">
          <div class="center col-sm-6" style="margin-bottom: 40px;">
            <h4>São Paulo, SP</h4>
            <h4>A partir de 26/09</h4>
            <h5 style="font-size: font-size: 47px;">2014</h5>
            <h4>Duração: 3 meses</h4>
          </div>
          <div class="col-sm-5">
            <p><b>Com quantos pontos se faz uma mudança? </b>Um projeto para descobrir suas habilidades, conectar-se com novas formas de olhar o mundo e colocar a mão na massa desenvolvendo projetos  em organizações  sociais.</p>
          </div>
        </div>
        <div class="row">
          <a class="inscrevase center" href="https://atados.typeform.com/to/lhXeYO">Inscreva-se</a>
        </div>
        <p class="center" style="margin-bottom: 40px;">Inscrições até 19/09</p>
        <div class="col-sm-offset-1 col-sm-8">
          <div class="col-sm-6">
            <img class="center-block" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/atados_logo_purple.png">
          </div>
          <div class="col-sm-6">
            <img class="center-block" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/celulas_logo.png">
          </div>
        </div>
      </div>

      <div class="pagina col-sm-6 col-sm-offset-3">
        <img class="ligando-logo" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="center">Qual a sua forma de <br><b>fazer o mundo <br>mudar?</b></h1>
        <h2 class="center">E se <b>transformação pessoal e <br>social</b> estivessem totalmente <br><b>integradas</b>?</h2>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1" style="margin-bottom: 40px;">
            <p>
              <b>Por que?</b><br>
              Porque o voluntariado pode ser uma forma incrível de desenvolvimento pessoal e profissional, bem como de fortalecimento de iniciativas de instituições sociais!
            </p>
          </div>
          <div class="col-sm-5">
            <p>
              <b>Para quem?</b><br>
              Para pessoas que queiram descobrir novas formas de olhar o mundo, desenvolver seus potenciais e despertar sua criatividade através da realização de projetos com organizações sociais em São Paulo.
            </p>
          </div>
        </div>
      </div>

      <div class="pagina col-sm-6 col-sm-offset-3">
        <img class="ligando-logo" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="center"><b>O percurso</b></h1>
        <img style="margin-top: -30px;height: 460px;" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/grafo.png">
        <h3 class="center" style="margin-top: 30px;text-transform: uppercase;"><a href="http://atadosapp.s3.amazonaws.com/ligandoospontos/Ligando%20Pontos%20-%20Saiba%20Mais.pdf" style="color: #766587;text-decoration: none;"> > Veja a programação do curso</a></h3>
      </div>

      <div id="pagina-4" class="pagina col-sm-6 col-sm-offset-3" style="margin-bottom: 60px;">
        <img class="ligando-logo" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h3 class="col-sm-offset-1">Facilitadores</h3>
        <div class="row">
          <div class="col-sm-1"></div>
          <img class="col-sm-4" style="margin-top: 34px;" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/circle_cara.png">
          <div class="col-sm-7">
            <h2 style="margin-bottom:0 !important;">Giulio Vanzan</h2>
            <p>Creative life coach e condutor de processos com experiência internacional, formado em várias universidades italianas e na Escola Internacional de Criação Teatral Helikos de Florença e especializado em Terapia Gestalt; criador da metodologia da PACS (Personal Awareness and Creative Synthesis Process) e do “Teatro Social”.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <img class="col-sm-4" style="margin-top: 34px;" src="https://atadosapp.s3.amazonaws.com/ligandoospontos/circle_atados.png">
          <div class="col-sm-7">
            <h2 style="margin-bottom:0 !important;">Atados</h2>
            <p>É uma rede de organizações e pessoas inquietas que refletem e agem, de forma voluntária, ou seja, livre e não obrigatória, para criar um mundo mais humanizado.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5 col-sm-offset-1">
            <h3>Investimento</h3>
            <h4 style="color: #F8A541;">R$ 1200,00</h4>
            <p>31 horas de Formação<br>
            15 horas de Encontros<br>
            80 horas de prática<br>
            <b>Total: 126 horas</b></p>
            <a style="color: #F8A541;text-decoration: none;" href="http://atadosapp.s3.amazonaws.com/ligandoospontos/Ligando%20Pontos%20-%20Formas%20de%20pagamento.pdf"> > Formas de pagamento</a>
          </div>
          <div class="col-sm-5">
            <h3>Gostou?</h3>
            <p style="margin-bottom: 20px;">É só clicar no botão abaixo e seguir os próximos passos.</p>
            <a class="inscrevase center" href="https://atados.typeform.com/to/lhXeYO">Inscreva-se</a>
          </div>
        </div>
        <p class="center" style="margin-top: 40px;">Dúvidas? Envie um email para: <a href="mailto:ligandopontos@atados.com.br">ligandopontos@atados.com.br</a><p>

      </div>
    </div>
  </div>
</div>
