<div id="ligando">
  <div class="container">
    <div class="row">

      <div class="pagina col-sm-6 col-sm-offset-3">
        <img class="ligando-logo" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="col-sm-8 center" style="margin-left:19%;margin-bottom: 60px;">Cada ponto de vista é a vista de um ponto.</h1>
        <div class="row">
          <div class="center col-sm-6" style="margin-bottom: 40px;">
            <h4>São Paulo, SP</h2>
            <h4>A partir de 26/09</h3>
            <h2>2014</h1>
            <h4>Duração: 3 meses</h3>
          </div>
          <div class="col-sm-6">
            <p><b>Com quantos pontos se faz uma mudança? </b>Um projeto para descobrir suas habilidades, conectar-se com novas formas de olhar o mundo e colocar a mão na massa desenvolvendo projetos  em organizações  sociais.</p>
          </div>
        </div>
        <div class="row">
          <a class="inscrevase col-sm-offset-5" href="#">Inscreva-se</a>
        </div>
        <p class="center" style="margin-bottom: 40px;">Inscrições até 19/09</p>
        <div class="col-sm-offset-1 col-sm-8">
          <div class="col-sm-6">
            <img class="center-block" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/atados_logo_purple.png">
          </div>
          <div class="col-sm-6">
            <img class="center-block" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/celulas_logo.png">
          </div>
        </div>
      </div>

      <div class="pagina col-sm-6 col-sm-offset-3">
        <img class="ligando-logo" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="col-sm-8 center" style="margin-left:19%;margin-bottom: 60px;">Qual a sua forma de fazer o mundo mudar?</h1>
        <h2 class="col-sm-8 center" style="margin-left:19%;margin-bottom: 60px;">E se transformação pessoal e social estivessem totalmente integradas?</h2>
        <div class="row">
          <div class="col-sm-6" style="margin-bottom: 40px;">
            <p>
              <b>Por que?</b><br>
              Porque o voluntariado pode ser uma forma incrível de desenvolvimento pessoal e profissional, bem como de fortalecimento de iniciativas de instituições sociais!
            </p>
          </div>
          <div class="col-sm-6">
            <p>
              <b>Para quem?</b><br>
              Para pessoas que queiram descobrir novas formas de olhar o mundo, desenvolver seus potenciais e despertar sua criatividade através da realização de projetos com organizações sociais em São Paulo.
            </p>
          </div>
        </div>
      </div>


      <div class="pagina col-sm-6 col-sm-offset-3">
        <img class="ligando-logo" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="col-sm-8 center" style="margin-left:19%;margin-bottom: 30px;">O percurso</h1>
        <img class="" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/grafo.png">
        <h3 class="col-sm-8 center" style="margin-left:19%;margin-bottom: 60px;">Veja a programação do curso</h3>
      </div>

      <div class="pagina col-sm-6 col-sm-offset-3" style="margin-bottom: 60px;">
        <img class="ligando-logo" src="http://atadosapp.s3.amazonaws.com/ligandoospontos/ligando_logo.png">
        <h1 class="col-sm-8" style="margin-left:19%;margin-bottom: 30px;">Facilitadores</h1>
        <div class="row">
          <img class="col-sm-4"src="http://atadosapp.s3.amazonaws.com/ligandoospontos/circle_cara.png">
          <div class="col-sm-8">
            <h2>Giulio Vanzan</h2>
            <p>Creative life coach e condutor de processos com experiência internacional, formado em várias universidades italianas e na Escola Internacional de Criação Teatral Helikos de Florença e especializado em Terapia Gestalt; criador da metodologia da PACS (Personal Awareness and Creative Synthesis Process) e do “Teatro Social”.</p>
          </div>
        </div>
        <div class="row">
          <img class="col-sm-4"src="http://atadosapp.s3.amazonaws.com/ligandoospontos/circle_atados.png">
          <div class="col-sm-8">
            <h2>Atados</h2>
            <p>É uma rede de organizações e pessoas inquietas que refletem e agem, de forma voluntária, ou seja, livre e não obrigatória, para criar um mundo mais humanizado.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h3>Investimento</h3>
            <h4>R$ 1200,00</h4>
            <p>31 horas de Formação<br>
            15 horas de Encontros<br>
            80 horas de prática<br>
            <b>Total: 126 horas</b></p>
            <a href="">Formas de pagamento</a>
          </div>
          <div class="col-sm-6">
            <h3>Gostou?</h3>
            <p>é só clicar no botnao abaixo e seguir os próximos passos.</p>
            <a class="inscrevase col-sm-offset-5" href="#">Inscreva-se</a>
          </div>
        </div>
        <p>Dúvidas? Envie um email para: <a href="mailto:ligandopontos@atados.com.br">ligandopontos@atados.com.br</a><p>

      </div>
    </div>
  </div>
</div>
