<div id="volunteer-page" class="container">
  <div class="page-header">
    <h1 ng-if="volunteer.user.name">{{volunteer.user.name}}</h1>
  </div>
  <div class="row">
    <div class="col-sm-3 image">
      <img class="img-rounded img-responsive" alt="{{volunteer.slug}}" ng-src="{{image}}"/>
    </div>
    <div class="col-sm-12">
      <div ng-show="volunteer.causes" id="volunteer-causes" class="col-sm-6">
        <h3>Causas</h3>
        <div class="img-circle cause-image" ng-repeat="cause in volunteer.causes"> 
          <img alt="{{cause.name}}" tooltip="{{cause.name}}" width="20" height="20" ng-src="{{cause.image}}"/>
        </div>
      </div>
      <div ng-show="volunteer.skills" id="volunteer-skills" class="col-sm-6">
        <h3>Habilidades</h3>
        <div class="img-circle skill-image" ng-repeat="skill in volunteer.skills"> 
          <img alt="{{skill.name}}" tooltip="{{skill.name}}" width="20" height="20" ng-src="{{skill.image}}"/>
        </div>
      </div>
      <div class="row">
        <h3>ONGs que já ajudei</h3>
        <div class="col-sm-12 nonprofits">
          <nonprofit-card ng-repeat="nonprofit in volunteer.nonprofits"></nonprofit-card>
        </div>
      </div>
      <div class="row">
        <h3>Atos que já participei</h3>
        <div class="col-sm-12 projects">
          <project-card ng-repeat="project in volunteer.projects"></project-card>
        </div>
      </div>
    </div>
  </div>
</div>
