<div id="atados-explorer-outer"> 
  <div class="map-outer col-sm-4">
    <gm-map
      gm-map-id="'explorerMap'"
      gm-center="center"
      gm-zoom="zoom"
      gm-map-options="mapOptions.map"
      class="map">
      <gm-markers gm-objects="projects"
      gm-get-lat-lng="{ lat: object.address.latitude, lng: object.address.longitude }"
      gm-events="markerEvents"
      gm-get-marker-options="getMarkerOpts(object)"
      gm-on-click="selectMarker(object, marker)">
      </gm-markers>
    </gm-map>
  </div>
  <div class="atados-explorer sidebar col-sm-8">
    <atados-search></atados-search>
  </div>
</div>
