<footer>
  <div id="footer" class="well">
    <div class="container">
      <div class="span3 logo">
        <div>{{ site.name }}</div>
      </div>
      <div class="span3">
        <h4>{{ site.name }}</h4>
        <ul>
          <li><a href="#">Sobre</a></li>
          <li><a href="#">Colabore</a></li>
          <li><a href="#">Contato</a></li>
          <li><a href="#">Novidades</a></li>
        </ul>
      </div>
      <h4>Social</h4>
      <ul>
        <li><a href="http://www.atados.com.br/blog/">Blog</a></li>
        <li><a href="https://www.facebook.com/atadosjuntandogenteboa">Facebook</a></li>
      </ul>
    </div>
  </div>
  <div id="footer-legal" class="centered">
    <ul>
      <li><a href="{{ terms.url }}">Termos de Serviço</a></li>
      <li><a href="{{ privacy.url }}">Privacidade</a></li>
      <li id="copyright">&copy; 2013 {{ site.name }}</li>
    </ul>
  </div><!-- /#footer-legal -->
</footer>
