<div class="navbar navbar-inverse navbar-fixed-top" bs-navbar>
  <div class="navbar-inner">
    <div class="navbar-flags">
      <a ng-click="changeLanguage('pt_BR')"><img class="flag flag-br" alt="Portugues Brasileiro"></a>
      <a ng-click="changeLanguage('en_US')"><img class="flag flag-us" alt="American English"></a>
    </div>

    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#"></a>
      <div class="nav-collapse collapse">
        <form class="navbar-search" action="" method="get">
          <input ng-model="input" type="text" class="search-query" placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}">
        </form>
        <button ng-click="search()" class="btn btn-primary" translate>SEARCH_BUTTON</button>

        <ul class="nav pull-right">
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">hello {{ user.name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
            <div>
              <span>{{ user.name }}</span>
              <span>{{ user.email }}</span>
            </div>
            </li>
            <li><a href="">My profile</a></li>
            <li class="divider"></li>
            <li><a href="">Edit my information</a></li>
            <li class="divider"></li>
            <li> <a class="logout" href="#">Sign out</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
