<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Bem vindo ONG! Estamos aqui para te ajuda :)</h4>
</div>
<div class="modal-body">
  <nonprofitlogin></nonprofitlogin>
  <div>
    <a ng-href="/cadastro/ong" ng-click="closeNonprofitPortalModal()" class="btn">Cadastre sua ONG!</a>
    <p>Lembre-se que cadastrando sua ONG você:</p>
    <p>Ganha mais voluntários</p>
    <p>Ganha a ajuda dos Atados para organizer a recepção dos volutuntários</p>
    <p>Junte-se aos bons!</p>
  </div>
</div>
<div class="modal-footer"><contactatados /></div>
