<div class="modal-header">
  <h3>Oi ONG, estamos aqui para te ajudar! :D</h3>
</div>
<div class="modal-body">
  <nonprofitlogin class="span6"></nonprofitlogin>
  <div>
    <a ng-href="/cadastro/ong" ng-click="closeNonprofitPortalModal()" class="btn">Cadastre sua ONG!</a>
    <p>Lembre-se que cadastrando sua ONG você:</p>
    <p>Ganha mais voluntários</p>
    <p>Ganha a ajuda dos Atados para organizer a recepção dos volutuntários</p>
  </div>
</div>
<div class="modal-footer">
  Entre em <a href="mailto:contato@atados.com.br?Subject=Ajuda%20Atados!" target="_blank">contato</a> se tiver algum problema!
</div>
