<legend>Habilidades</legend>
<div>
  <ul class="select-button-list">
    <li ng-repeat="skill in skills" ng-class="{active:skill.checked}">
    <label>
      {{skill.name}}
      <input class="form-control" type="checkbox" name="skills[]" ng-checked="skill.checked" ng-model="skill.checked"/>
    </label>
    </li>
  </ul>
</div>

<legend>Cargos</legend>
<div class="col-md-5">
  <input class="form-control" type="text" placeholder="Nome do cargo" ng-model="newRole.name">
  <textarea class="form-control" rows="3" name="newRole.prerequisites" placeholder="Descrição do cargo" ng-model="newRole.prerequisites"></textarea>
  <input class="form-control" type="number" class="" placeholder="Quantas vagas?" ng-model="newRole.vacancies">
  <button type="submit" ng-click="addRole('work')">Adicionar Cargo</button> 
</div>
<ul class="roles col-md-6">
  <li ng-repeat="role in work.roles">
    <h6>{{role.name}}</h6>
    <p>{{role.prerequisites}}</p>
    <span class="badge">{{role.vacancies}} vagas</span>
    <removerole></removerole>
  </li>
</ul>

Esse ato pode ser feito remotamente? <input class="btn" type="checkbox" name="canBeDoneRemotely" ng-checked="work.can_be_done_remotely" ng-model="work.can_be_done_remotely">

<div ng-show="!work.can_be_done_remotely">
  <legend>Endereço</legend>
  <div class="col-lg-6">                     
    <input type='text' class="form-control" name="addressline" ng-model='work.address.addressline' placeholder="Rua">
    <input type='text' class="form-control" name="addressnumber" ng-model='work.address.addressnumber' placeholder="nro">
    <input type='text' class="form-control" name="addressline2" ng-model='work.address.addressline2' placeholder="Apartamento, bloco, etc">
    <input type='text' class="form-control" name="neighborhood" ng-model='work.address.neighborhood' placeholder="Bairro">
    <input type='text' class="form-control" name="zipcode" ng-model='work.address.zipcode' ng-maxlength="10" placeholder="CEP">
    <label class="help-block" ng-show="newProjectForm.zipcode.$error.maxlength">Não pode ter mais de 10 caracteres.</label>
    <select class="form-control" ng-model="work.address.suburbs" ng-options="c.name for c in suburbs|orderBy:'name'">
      <option value="" disabled selected>Zona</option>
    </select>
    <select class="form-control" ng-model="work.address.city" ng-options="c.name for c in cities|orderBy:'name'">
      <option value="" disabled selected>Cidade</option>
    </select>
    <select class="form-control" ng-model="work.address.state" ng-options="c.name for c in states|orderBy:'name'">
      <option value="" disabled selected>Estado</option>
    </select>
  </div>
</div>
