<div class="navbar navbar-inverse navbar-static-top" bs-navbar>
  <div class="navbar-inner">
    <div class="navbar-flags">
      <a ng-click="changeLanguage('pt_BR')"><img class="flag flag-br" alt="Portugues Brasileiro"></a>
      <a ng-click="changeLanguage('en_US')"><img class="flag flag-us" alt="American English"></a>
    </div>

    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="brand" href="#"></a>

      <div class="nav-collapse collapse">
        <form class="navbar-search" action="" method="get">
          <input ng-model="input" type="text" class="search-query" placeholder="{{'SEARCH_PLACEHOLDER'|translate}}">
        </form>
        <button ng-click="search()" class="btn btn-primary" translate>SEARCH_BTN</button>

        <ul class="nav pull-right" ng-show="loggedUser">
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <span class="label label-info">{{ loggedUser.type|translate }}</span> |  {{ loggedUser.name }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">My profile</a></li>
            <li class="divider"></li>
            <li> <a class="logout" href="#">Sign out</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div ng-if="!loggedUser"> 
    <div class="row-fluid">
      <div class="span12">
        <div class="span6" ng-controller="LoginController">
          <div class="area">
            <form novalidate class="form-horizontal" name="loginForm" ng-submit="login()">
              <div class="heading">
                <h4 class="form-heading" translate>ALREADY_HAVE_ACCOUNT</h4>
              </div>
              <div class="control-group">
                <input required type='text' name='username' ng-model='username' ng-minlength="3" placeholder="{{'USERNAME'|translate}}"/>
                <span class="label label-important" ng-show="loginForm.username.$error.minlength"> Muito curto! </span>
              </div>
              <div class="control-group">
                <input required type='password' name='password' ng-model='password' ng-minlength="6" placeholder="{{'PASSWORD'|translate}}"/>
                <span class="label label-important" ng-show="loginForm.password.$error.minlength"> Muito curto! </span>
              </div>
              <label class="checkbox"><input ng-model="rememberme" type="checkbox">{{'REMEMBER'|translate}}</label>
              <button type="submit" ng-disabled="loginForm.$invalid" class="btn btn-success" translate>LOGIN_BTN</button>
              <a ng-click="forgotPassword()" class="btn btn-link" translate>FORGOT_PASSWORD</a>
            </form> 
              <button class="btn btn-facebook" ng-click="loginOauth('facebook')"><span class="icon-facebook-sign" /> {{'LOGIN_BTN_FACEBOOK'|translate}}</button>
            </div>                           
          </div>
          <div class="span6" ng-controller="VolunteerSignupController">
            <div class="area">
              <form novalidate class="form-horizontal" name="volunteerSignupForm" ng-submit="signup()">
                <div class="heading">
                  <h4 class="form-heading" translate>WANT_TO_BE_VOLUNTEER</h4>
                </div>
                <div class="control-group">
                  <input type='text' name="username" ng-model='volunteer.username' ng-minlength="3" placeholder="{{'USERNAME'|translate}}" required/>
                  <div class="label label-important" ng-show="volunteerSignupForm.username.$error.minlength"> Nome de usuário muito curto </div>
                </div>
                <div class="control-group">
                  <input type='email' name="email" ng-model='volunteer.email' placeholder="Email" required/>
                  <div class="label label-important" ng-show="volunteerSignupForm.$dirty && volunteerSignupForm.email.$invalid"> Email inválido </div>
                </div>
                <div class="control-group">
                  <input type='password' required ng-model='volunteer.password' placeholder="{{'PASSWORD'|translate}}"/>
                  <input type='password' required ng-model='volunteer.passwordConfirm' placeholder="{{'PASSWORD_CONFIRM'|translate}}"/>
                  <div class="label label-important" ng-show="passwordDoesNotMatch"> Senhas tem que ser igual! </div>
                </div>
                <div class="control-group">
                  <button type="submit" ng-disabled="volunteerSignupForm.$invalid" class="btn btn-primary" translate>SIGNUP_BTN</button>
                  </div>  
                </form> 
                <button class="btn btn-facebook" ng-click="signupOauth('facebook')"><span class="icon-facebook-sign" /> {{'REGISTER_BTN_FACEBOOK'|translate}}</button>
              </div>                            
            </div>
          </div>
    </div>
  </div>

  <div class="span12" ui-view>
    <p>Está procurando por ..... {{ input }}</p>
  </div>
</div>
