<form novalidate class="form-horizontal" name="nonprofitForm" ng-submit="signup()">
  <div class="heading">
    <h4 class="form-heading" translate>REPRESENT_NONPROFIT</h4>
  </div>
  <div class="control-group">
    <input type='text' name="username" ng-model='username' ng-minlength="3" placeholder="{{'USERNAME'|translate}}" required/>
    <div class="label label-important" ng-show="signupForm.username.$error.minlength"> Nome de usuário muito curto </div>
  </div>
  <div class="control-group">
    <input type='email' name="email" ng-model='email' placeholder="Email" required/>
    <div class="label label-important" ng-show="signupForm.email.$dirty && signupForm.email.$invalid"> Email inválido </div>
  </div>
  <div class="control-group">
    <input required type='password' name='password' ng-model='password' ng-minlength="6" placeholder="{{'PASSWORD'|translate}}"/>
    <input required type='password' name='passwordConfirm' ng-model='passwordConfirm' ng-minlength="6" placeholder="{{'PASSWORD_CONFIRM'|translate}}"/>
    <div class="label label-important" ng-show="passwordDoesNotMatch">Senhas tem que ser igual!</div>
    <div class="label label-important" ng-show="signupForm.password.$error.minlength">Senha tem que ter mais de 6 caracteres</div>
  </div>
  <button type="submit" ng-disabled="signupForm.$invalid" class="btn btn-primary" translate>REGISTER_NONPROFIT_BTN</button>
</form> 
