<div id="volunteer-details">
  <div class="page-header">
    <h1>{{volunteer.user.first_name}} {{volunteer.user.last_name}}</h1>
    <h1 ng-if="!(volunteer.user.first_name&&volunteer.user.last_name)">{{volunteer.username}}</h1>
  </div>
  <div class="span3 well">
    <div class="image">
      <img class="img-rounded" alt="{{volunteer.username}}"
      ng-src="{{image}}" width="270" height="270"/>
      <label ng-if="loggedUser.username==volunteer.username" class="btn" for="file-input"><i class="icon-edit"></i>Editar foto</label>
      <input id="file-input" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
    </div>
    <email email="{{volunteer.user.email}}"></email>
    <phone number="{{volunteer.phone}}"></phone>
  </div>
  <div class="span12 well">
    <h2>Atividades recentes</h2>
    <ul ng-if="volunteer.activities" class="activities">
      <li ng-repeat="activity in activities">{{activity.name}}</li>
    </ul>
    <span ng-if="!volunteer.activities">Não tem atividades.</span>
  </div>
  <div class="span12 well" ng-if="loggedUser.username==volunteer.username">
    <form novalidate class="form-horizontal" name="infoForm" ng-submit="saveVolunteer()">
      <button type="submit" class="btn btn-primary pull-right"
        ng-disabled="invalidForm" translate>SAVE</button>
      <label translate>FIRST_NAME</label>
      <input type="text" ng-model="volunteer.user.first_name" />
      <label translate>LAST_NAME</label>
      <input type="text" ng-model="volunteer.user.last_name" />
      <label translate>EMAIL</label>
      <input type="email" ng-model="volunteer.user.email"
      ng-change="checkInvalid(infoForm)" required/>
      <span class="label label-important">{{emailError}}</span>
      <label translate>PHONE</label>
      <input type="text" ng-model="volunteer.phone" />
      <div ng-if="volunteer.causes">
        <label translate>CAUSES</label>
        <ul>
          <li ng-repeat="cause in volunteer.causes">{{cause.name}}</li>
        </ul>
      </div>
      <div ng-if="volunteer.skills">
        <label translate>SKILLS</label>
        <ul>
          <li ng-repeat="skills in volunteer.skills">{{skills.name}}</li>
        </ul>
      </div>
      <div class="control-group">
        <label>Mudar senha</label>
        <input required type='password' name='password' ng-model='password' ng-minlength="6"
        placeholder="{{'PASSWORD'|translate}}"/>
        <input required type='password' name='passwordConfirm' ng-model='passwordConfirm'
        ng-minlength="6" placeholder="{{'PASSWORD_CONFIRM'|translate}}"/>
        <div class="label label-important" ng-show="passwordDoesNotMatch">
          Senhas tem que ser igual!
        </div>
        <div class="label label-important" ng-show="infoForm.password.$error.minlength">
          Senha tem que ter mais de 6 caracteres
        </div>
      </div>
    </form>
  </div>
  <div class="span3 well">
    {{input}}
  </div>
</div>
