<div id="volunteer-details">
  <div class="page-header">
    <h1>{{volunteer.user.first_name}} {{volunteer.user.last_name}}</h1>
    <h1 ng-if="!(volunteer.user.first_name&&volunteer.user.last_name)">{{volunteer.username}}</h1>
  </div>
  <div class="span3 well">
    <div class="image">
      <img class="img-rounded" alt="{{volunteer.username}}"
      ng-src="{{image}}" width="270" height="270"/>
      <label ng-if="loggedUser.username==volunteer.username" class="btn" for="file-input"><i class="icon-edit"></i>Editar foto</label>
      <input id="file-input" type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
    </div>
    <email email="{{volunteer.user.email}}"></email>
    <phone number="{{volunteer.phone}}"></phone>
    <div ng-show="volunteer.causes">
      <h3 class="well-title">Causas</h3>
      <span class="tag" ng-repeat="cause in causes|filter:{checked:true}">{{cause.name}}</span>
    </div>
    <div ng-show="volunteer.skills">
      <h3 class="well-title">Habilidades</h3>
      <span class="tag" ng-repeat="skill in skills|filter:{checked:true}">{{skill.name}}</span>
    </div>
  </div>
  <div class="span12 well">
    <h2>Atividades recentes</h2>
    <ul ng-if="volunteer.activities" class="activities">
      <li ng-repeat="activity in activities">{{activity.name}}</li>
    </ul>
    <span ng-if="!volunteer.activities">Não tem atividades.</span>
  </div>
  <div class="span12 well" ng-show="loggedUser.username==volunteer.username">
    <form novalidate class="form-horizontal" name="profileForm" ng-submit="saveVolunteer()">
      <button type="submit" class="btn btn-primary pull-right" ng-disabled="profileForm.$invalid">Salvar</button>
      <div class="control-group">
        <label class="control-label">Nome</label>
        <div class="controls">                     
          <input type='text' name="first_name" ng-model='volunteer.user.first_name' placeholder="Nome"/>
          <input type='text' name="last_name" ng-model='volunteer.user.last_name' placeholder="Sobrenome"/>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Email</label>
        <div class="controls">                     
          <input type="email" name="email" ng-model="volunteer.user.email" required/>
          <label class="help-inline" ng-show="profileForm.email.alreadyUsed">Email já é usado</label>
        </div>
      </div>
      <div class="control-group" ng-class="{error:profileForm.phone.$dirty && profileForm.phone.$invalid}">
        <label class="control-label">Telefone</label>
        <div class="controls">                     
          <input type="text" name="phone" ng-model="volunteer.phone" ng-maxlength="20" placeholder="Telefone"/>
          <label class="help-inline" ng-show="profileForm.password.$error.maxlength">Tem que ter menos de 20 caracteres</label>
        </div>
      </div>
      <div class="control-group" ng-class="{error:profileForm.password.$dirty && profileForm.password.$invalid}">
        <label class="control-label">Mudar senha</label>
        <div class="controls">
          <input type='password' name='password' ng-model='password' ng-minlength="6" placeholder="Senha"/>
          <input type='password' name='passwordConfirm' ng-model='passwordConfirm' ng-minlength="6" placeholder="Confirme senha"/>
          <label class="help-inline" ng-show="profileForm.password.doesNotMatch">Senhas tem que ser igual!</label>
          <label class="help-inline" ng-show="profileForm.password.$error.minlength">Senha tem que ter mais de 6 caracteres</label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Causas</label>
        <div class="controls">
          <ul class="select-button-list">
            <li ng-repeat="cause in causes" ng-class="{active:cause.checked}">
              <label>
                {{cause.name}}
                <input type="checkbox" name="causes[]" ng-checked="cause.checked" ng-model="cause.checked"/>
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Habilidades</label>
        <div class="controls">
          <ul class="select-button-list">
            <li ng-repeat="skill in skills" ng-class="{active:skill.checked}">
              <label>
                {{skill.name}}
                <input type="checkbox" name="skills[]" ng-checked="skill.checked" ng-model="skill.checked"/>
              </label>
            </li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
